/* Style for bloat button */

// .float
// 	position: fixed
// 	width: 55px
// 	height: 55px
// 	bottom: 95px
// 	right: 25px
// 	background-color: $bluevc
// 	color: white
// 	border-radius: 50px
// 	text-align: center
// 	box-shadow: 1px 1px 1px #3e3e3e

// .my-float
// 	margin-top: 14px

.label-container
  position: fixed
  bottom: 48px
  right: 105px
  display: table
  visibility: hidden

.label-text
  color: white
  background: rgba(51, 51, 51, 0.5)
  display: table-cell
  vertical-align: middle
  padding: 10px
  border-radius: 3px

.label-arrow
  display: table-cell
  vertical-align: middle
  color: #333
  opacity: 0.5

.float
  position: fixed
  width: 55px
  height: 55px
  bottom: 100px
  right: 25px
  background-color: $orangevc
  color: white
  border-radius: 50px
  text-align: center
  box-shadow: 2px 2px 3px #999
  z-index: 1000
  animation: bot-to-top 2s ease-out

.float
  & i
    margin-top: 17px !important
	
ul.float-actions
  position: fixed
  right: 25px
  padding-bottom: 20px
  bottom: 120px
  z-index: 100

  li
    list-style: none
    margin-bottom: 10px

    button, a
      background-color: $orangevc
      color: white
      border-radius: 50px
      text-align: center
      box-shadow: 2px 2px 3px #999
      display: block

    button
      width: 60px
      height: 60px
      
      i
        margin-top: 4px

    a
      width: 60px
      height: 60px

  &:hover
    visibility: visible !important
    opacity: 1 !important

.my-float
  font-size: 24px
  margin-top: 18px

a#menu-share
  + ul
    visibility: hidden

  &:hover + ul
    visibility: visible
    // animation: scale-in 0.5s

//   i
    // animation: rotate-in 0.5s

//   &:hover > i
    // animation: rotate-out 0.5s

// @keyframes bot-to-top
//   0%
//     bottom: -40px

//   50%
//     bottom: 40px

// @keyframes scale-in
//   from
//     transform: scale(0)
//     opacity: 0

//   to
//     transform: scale(1)
//     opacity: 1

// @keyframes rotate-in
//   from
//     transform: rotate(0deg)

//   to
//     transform: rotate(360deg)

// @keyframes rotate-out
//   from
//     transform: rotate(360deg)

//   to
//     transform: rotate(0deg)