/* Style for Tab Nav */
    
.nav-tabPanels
    border-bottom: 0px
    & a.nav-item
        border: none
        padding: 1rem
    & .nav-link.active
        background-color: $bluevc
        color: white

.list-task-group
    margin-bottom: 5px
    border: 0