/* Style for Tab Nav */
    
.nav-tabPanels
    border-bottom: 0px
    & a.nav-item
        border: none
        padding: 1rem
    & .nav-link.active
        // background-color: #343a40
        background-color: $bluevc
        color: white

// .list-tasks-group
//     background-color: #999999

.list-task-group
    margin-bottom: 5px
    border: 0
    // background-color: #999999