/* Style for Tab Nav */

.content-mobileViewport
    background-color: red
    margin: 0px
    padding: 0px
    height: 80vh
    
.nav-tabPanels
    & a.nav-item
        background-color: $bluevc
        border: none
        padding: 1rem
    & .nav-link.active
        background-color: $bluevc
        color: white