.section-list-group
    margin: 1rem 0
    padding-right: 0
    padding-left: 0
    h5
        color: #6c757d
        font-size: 0.8rem
        margin: 0 0 0.1rem 0
        padding: 0
    hr
        margin: 0 0 0.5rem 0
        padding: 0
    .list-group
        .list-group-item
            border: 0
            background-color: #f7f7f7
            margin-bottom: 0.4rem
            a
                text-decoration: none
                h5
                    font-size: 1rem
                    color: #0a1520
            p
                font-size: 0.8rem
                color: #6c757d
            .badge
                font-size: 0.5rem
                padding: 0.5rem 0
            .client-badge
                color: darkblue
                text-transform: uppercase
            .delivery-badge
                color: lightseagreen
            .responsible-badge
                color: darkred
                text-transform: uppercase

.pendent-list
    .list-group
        .list-group-item
            border-left: 5px solid lightsalmon

.aprove-list
    .list-group
        .list-group-item
            border-left: 5px solid lightseagreen

.production-list
    .list-group
        .list-group-item
            border-left: 5px solid lightblue

.briefing-list
    .list-group
        .list-group-item
            border-left: 5px solid lightgrey

.opened-list
    .list-group
        .list-group-item
            border-left: 5px solid lightgrey

.closed-list
    .list-group
        .list-group-item
            background-color: rgba(161, 211, 154, 0.6)

.text-pendent
    color: lightsalmon

.text-aprove
    color: lightseagreen

.text-production
    color: lightblue

.text-opened
    color: lightgrey

.text-closed
    color: rgba(161, 211, 154, 0.6)

@include media-breakpoint-only(xl)
    .section-list-group
        .list-group
            .list-group-item
                border: 1px solid red
